<div [class.header_change]="header_variable">
<header>
      <div class="container fixed-top">
        <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="../../../assets/EcoTreeSoft.png" alt="INVroot" width="60" height="60">
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-light">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Products</a></li>
            <li><a href="#" class="nav-link px-2 link-light">About</a></li>
            <li><a href="#" class="nav-link px-2 link-light">Contact us</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-success me-2" routerLink="/login">Login</button>
            <button type="button" class="btn btn-outline-success" routerLink="/registro">Sign-up</button>
          </div>
        </div>
      </div>
</header>
</div>
