.section-index-one a span{
    color: white;
}
.section-index-one .eco:hover{
    color: black;
    background-color: #42ab49;
}
.section-index-two figure{
    width: 506px;
    height: 608px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
}
.section-index-two figure img{
    transition: all 500ms ease;
}
.section-index-two figure img:hover{
    transform: scale(1.1);
}

.section-index-three figure{
    width: 500px;
    height: 400px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
}
.section-index-three figure img{
    transition: all 500ms ease;
    width: 500px;
    height: 400px;
}
.section-index-three figure img:hover{
    transform: scale(1.1);
}

.section-index-four div .cards{
    cursor: pointer;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.10);
}
.section-index-four div .cards:hover{
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.40);
}
.section-index-five{
    margin-top: 20rem;
    background-image: url(../../assets/contactenos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 35em;
}
.wrapper{
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
  }
  .wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
  }
  .wrapper .input-data textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
  }
  .wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0px;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
  }